body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
table th,
table td {
  padding: .625em;
  text-align: center;
}
table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic);

*{margin: 0px; padding: 0px}

.sub-mains{
  width: 10%;
  margin:22px;
  position: fixed;
  right: 350px;
  
}

.button-one, .button-two, .button-three{
  text-align: center;
  cursor: pointer;
  font-size:24px;
  margin: 0 0 0 100px;
}

/*Button Two*/
.button-two {
  border-radius: 4px;
  background-color:#ff9900;
  border: none;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
}


.button-two span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-two span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-two:hover span {
  padding-right: 25px;
}

.button-two:hover span:after {
  opacity: 1;
  right: 0;
}


html,
		body {
			margin:0;
			padding:0;
			height:100%;
		}
		#wrapper {
			min-height:100%;
			position:relative;
		}
		#content {
			padding-bottom:10px;
			padding-top:80px; /* Height of the footer element */
		}
		
		p {
		  display: block; /* Fallback for non-webkit */
		  display: -webkit-box;
		  max-width: 800px;
		  height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
		  margin: 0 auto;
		  font-size: $font-size;
		  line-height: $line-height;
		  -webkit-line-clamp: $lines-to-show;
		  -webkit-box-orient: vertical;
		  overflow: hidden;
		  text-overflow: ellipsis;
		}
		/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

		/* checkbox aspect */
		[type="checkbox"]:not(:checked) + label:before,
		[type="checkbox"]:checked + label:before {
		  content: '';
		  position: absolute;
		  left:0; top: -1px;
		  width: 17px; height: 17px;
		  border: 1px solid #bbb;
		  background: #fff;
		  border-radius: 3px;
		  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
		}
		/* checked mark aspect */
		[type="checkbox"]:not(:checked) + label:after,
		[type="checkbox"]:checked + label:after {
		  content: '✔';
		  position: absolute;
		  top: 1px; left: 4px;
		  font-size: 19px;
		  line-height: 0.8;
		  color: #09ad7e;
		  transition: all .2s;
		}
		/* checked mark aspect changes */
		[type="checkbox"]:not(:checked) + label:after {
		  opacity: 0;
		  transform: scale(0);
		}
		[type="checkbox"]:checked + label:after {
		  opacity: 1;
		  transform: scale(1);
		}
		p.erreur{
		color :#ff6633;
		}